.message-container{
    display: flex;
    flex-direction: row;
    margin: 110px 80px 0px 80px;
    height: 600px;
}

.messagelist-container{
    width: 400px;
    height: 600px;
    margin-left: 10px;
}


.messagelist-title-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    border: 1px solid #4B6C83;
    border-radius: 10px 10px 0 0;
    background-color: #4B6C83;
    box-shadow: 4px 4px 10px 1px  rgba(0, 0, 0, 0.2);
}
.messagelist-title{
    margin-left: 32.5px;
    margin-top: 12px;
    font-size: 20px;
    color: white;
}

.messagelist-title-icon{
    height: 30px;
    width: 30px;
    margin: auto 10px;
    cursor: pointer;
}

.messagelist-content{
    width: 100%;
    height: 92%;
    background-color: #FFFDF3;
    box-shadow: 4px 4px 10px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 10px 10px;
}

.messageDetail-container{
    margin: 0 40px 0 50px;
    padding: 0;
    width: 500px;
    height: 600px;

}

.message-user-profile{
    display: flex;
    align-items: center;
    height: 15%;
    background-color: #FFFDF3;
    border-radius: 10px 10px 0 0;
    box-shadow: 4px 4px 10px 1px  rgba(0, 0, 0, 0.2);
}

.message-user-profile-img{
    height: 50px;
    width: 50px;
    background: url('./Img/sample_user_img.PNG');
    background-size: contain;
    border-radius: 10px;
    margin-left: 30px;
    margin-right: 20px;

}
.message-content-box{
    position: relative;
    display: flex;
    height: 85%;
    background-color: #FFFDF3;
    border-radius: 0 0 10px 10px;
    box-shadow: 4px 4px 10px 1px  rgba(0, 0, 0, 0.2);
}
.message-content{
    width: 95%;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid rebeccapurple;
}
.message-textarea{
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -48.5%;
    display: flex;
    height: 15%;
    width: 95%;
    background-color: #FFFDF3;
    border-radius: 10px;
    border: 3px solid #EEEBEB;
}

.message-textarea:hover,
.message-textarea:focus{
    border: 3px solid #486880;
}

.message-submit-btn{
    bottom: 15px;
    right: 20px;
    position: absolute;
    background: url('./Img/icon_submit.png');
    background-size: contain;
    height: 30px;
    width: 30px;
    border: none;
    cursor: pointer;
}

.temp{
    margin: 0 40px 0 50px;
    padding: 0;
    width: 500px;
    height: 600px;
}