/* 작은 프로필 css */
.my-mini{
    position: sticky;
    width: 344px;
    height: 380px;
    margin: 0px 10px 0px 10px;
    border-radius: 10px;
    background-color: #FFFDF3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    top: 110px;
}

.my-mini-content{
    padding: 30px 40px 20px 40px;
}
.mini-title{
    width: 100%;
    height: 48px;
    border: 1px solid #4B6C83;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #4B6C83;
    position: relative;
}
.mini-title-message{
    margin-left: 32.5px;
    margin-top: 12px;
    font-size: 20px;
    color: white;
    position: relative;
}
.notify{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px;
    background-color: #FF203B;
    top: 0px;
    right: -11px;
    border-radius: 50px;
    font-size: 15px;
    animation: rotate 0.7s infinite alternate-reverse forwards;
}
.notification-back{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 11111;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

@keyframes rotate{
    0%{
        transform: rotate(-20deg);
    }
    100%{
        transform: rotate(20deg);
    }
}

.notification-content{
    width: 350px;
    height: 550px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    cursor: auto;
}
.notification-title{
    width: 100%;
    height: 48px;
    border: 1px solid #4B6C83;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #4B6C83;
    position: relative;
    padding-top: 10px;
    padding-left: 10px;
    color: white;
    font-size: 20px;
}
.notification-body{
    height: 502px;
    width: 100%;
    overflow-y: scroll;
}
.notification-body::-webkit-scrollbar{
    width: 8px;
}

.notification-body::-webkit-scrollbar-thumb{
    height: 30%;
    background: #486880;
    border-radius: 10px;
}

.notification-body::-webkit-scrollbar-track{
    background: rgba(33, 122, 244, .1); 
}
.mini-image{
    margin-bottom: 20px;
    width: 100px;
    height: 100px;
    border-radius: 20px;
}

.mini-name{
    color: #545454;
    font-size: 20px;
    margin-bottom: 10px;
    /* 폰트 스타일, 굵기 조절 필요함 */
}

.mini-comment{
    font-size: 15px;
    color: #999494;
    margin-bottom: 20px;

    /* 폰트 스타일, 굵기 조절 필요함 */
}

.mini-following-count{
    margin-bottom: 20px;
}
.mini-following-count > .following{
    font-size: 15;
    color: #D7C6C0;
}
.mini-following-count > .count{
    font-size: 15;
    color: #9D9696;
    margin-left: 17px;
}


.mini-following{
    margin-left: 40px;
    margin-top: 60px;
}
.mini-following > .following-title{
    margin-bottom: 13px;
    font-size: 20px;
    color: #5B5B5B;
}

.logout{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    }

.logout:hover{
    transform: scale(0.9);
    transition: 0.2s forwards ease;
}

.tool-tip{
    background: white;
    border-radius: 5px;
    width: 60px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0 0 0.75rem gray);
    position: absolute;
    right: 5px;
    top: 50px;
    overflow: hidden;
    }
.tool-tip>span{
    animation: move 2s infinite;
    color: #5B5B5B;
}
@keyframes move{
    0%{
       transform: translate(-60px);
    }
    100%{
       transform: translate(60px);
        
    }
}