@font-face {
    font-family: "dohyeon";
    src: url(@/fonts/BMDOHYEON_ttf.ttf);
  }

.mypage-banner{
    position: relative;
    background: url('./Img/background_mypage_light.png');
    background-size: cover;
    background-position: center;
    height: 297px;
    width: 100%;
}

.mypage-box{
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 450px;
    left: 50%;
    margin-left: -600px;
    height: 400px;
    width: 1200px;
}

.profile-box{
    display: flex;
    justify-content: center;
    height: 400px;
    background-color: white;
    width: 1200px;
    border-radius: 20px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.edit-profile {
    position: absolute;
    background: url('./Img/icon_setting.png');
    background-size: contain;
    height: 30px;
    width: 30px;
    right: 30px;
    top: 30px;
    cursor: pointer;
}

.profile-content{
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    grid-template-rows: 1fr 3fr ;
    width: 100%;
    padding: 70PX 150px;
}

.profile-img{
    height: 150px;
    width: 150px;
    border-radius: 10px;
    background: url(./Img/feed_sample10.jpg);
    background-size: contain;
}

.profile-section{
    display: flex;
    flex-direction: column;
    margin-left: 55px;
    height: 150px;
    width: 600px;
    justify-content: space-around;
    color: #838383;
}
.profile-section>div>span{
    margin-left: 15px;
    color: #5A5A5A;
}
.profile-top-section{
    margin-bottom: 20px;
}
.profile-bot-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.profile-bot-section>div>span{
    margin-left: 15px;
    color: #6C6767;
}

.feed-game-box{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    justify-content: space-between;
}

.edit-profile-back{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
    height: 100%;
    width: 100%;
    z-index: 1000;
}

.edit-profile-box{
    z-index: 1001;
    width: 200px;
    height: 200px;
    background: #ffffff;
    border: 1dx solid black;
}

.close-edit-box{
    cursor: pointer;
}