.banner{
    background: url(./banner.png), lightgray 50%;
    background-repeat: no-repeat;
    background-size:cover ;
    height: 494px;
    width: 100%;
    margin-top: 80px;
}

@keyframe banner-up{
    0%{
        margin-top: 0px;
    }
    100%{
        margin-top: 80px;
    
    }
}

@keyframe banner-down{
    0%{
        margin-top: 80px;
    }
    100%{
        margin-top: 0px;
    }
}

.banner-up-event{
    animation: banner-up forwards 0.2s;
}
.banner-down-event{
    animation: banner-down forwards 0.2s;
}

.main-container{
    margin: 50px 100px 100px 100px;
    display: flex;
}

/* .feed-page{
    width: 70%;
    border: 1px solid black;
    margin: 30px;
    margin-top: 0;
    margin-left: 0;
} */







