
@media screen and (max-width:860px){
    .main-banner-box{
        display: flex;
        justify-content: center;
        position: relative;
        width: 100%;
        height: 0;
        padding-bottom: 35%;
        overflow: hidden;
    }
    

}
@media screen and (min-width:861px){
.main-banner-box{
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 35%;
    overflow: hidden;
    margin-top: 80px;
}
}
.main-banner-light{
    background: url(./Img/banner_day.png), lightgray 50%;
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}
.main-banner-dark{
    background: url(./Img/banner_night.png), lightgray 50%;
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

@keyframe banner-up{
    0%{
        margin-top: 0px;
    }
    100%{
        margin-top: 80px;
    
    }
}

@keyframe banner-down{
    0%{
        margin-top: 80px;
    }
    100%{
        margin-top: 0px;
    }
}

.banner-up-event{
    animation: banner-up forwards 0.2s;
}
.banner-down-event{
    animation: banner-down forwards 0.2s;
}
@media screen and (min-width:1040px){
    .main-container{
        margin: 50px 100px 100px 100px;
        display: flex;
    }
}
.main-container{
    /* margin: 50px 100px 100px 100px; */
    display: flex;
}






