/* Web */
@media screen and (min-width:990px) {

    .container {
        /* overflow: scroll; */
        width: 100%;        
        height: 100vh;
        font-family: 'Viga', sans-serif;
        background-color: #FFF8ED;
    }
  
    
}