.mission-gray{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1001;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
}

.mission-container{
    width: 50%;
    height: 383px;
    border-radius: 10px;
    background: #FFF8ED;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    z-index: 1000;
    position: absolute;
    display: flex;
}
.mission-cancel{
    display: flex;
    justify-content: space-around;
}
.cancel{
    margin-top: 10px;
    cursor: pointer;
}

.confirm-box{
    width: 90%;
    height: 70%;
    margin-top: 10%;
    margin-left: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.img-box{
    width: 240px;
    height: 240px;
}
.content-box{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 90%;
    margin-left: 15px;
}
.call-confirm{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #5B5858;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.is-picture{
    margin-top: 20px;
    display: flex;
    
    justify-content: center;
    align-items: center;
}

.check{
    width: 24px;
    height: 24px;
    border-radius: 3px;
    background: #FFF;
}

.confirm{
    border-radius: 10px;
    background: #FFDED4;
    display: flex;
    flex-direction: column;
    
}

.check-style{
    margin-top: 10px;
    margin-left: 10px;
    color: #5B5858;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.check-style-room{
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    color: #999393;
    font-size: 18px;
}

.check-style-mission{
    margin-left: 10px;
    margin-bottom: 10px;
    color: #999393;
    font-size: 18px;
}