.write-container{
    display: flex;
    margin: 20px 0;
    min-height: 335px;
    margin-top: 50px;
}

.write-img{
    width: 416px;
    height: 416px;
}
.img-wrapper{
    position: relative;
}

.left-arrow{
    position: absolute;
    top: 45%;
    left: 10px;
    border-radius: 10px;
    cursor: pointer;
    background: url(./Icon/left-arrow.png) rgba(0,0,0,0.3);
    background-repeat: no-repeat;
    width: 37px;
    height: 37px;
}

.right-arrow{
    position: absolute;
    top: 45%;
    right: 10px;
    border-radius: 10px;
    cursor: pointer;
    background: url(./Icon/right-arrow.png) rgba(0,0,0,0.3);
    background-repeat: no-repeat;
    width: 37px;
    height: 37px;
}

.left-arrow:hover{
    animation: arrow 0.1s linear forwards;
}

.right-arrow:hover{
    animation: arrow 0.1s linear forwards;

}

@keyframes arrow{
    100%{
        transform: scale(1.1);
    }
}

.text-wrapper{
    margin-left: 34.5px;
    color: #7A736B;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.description{
    margin-top: 30px;
}

.description-text{
    margin-top: 10px;
    width: 300px;
    height: 300px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid #7A736B;
}
.description-text>textarea{
    resize: none;
    background-color: transparent;
    outline: none;
    border: 0;
    margin: 15px;
    width: 80%;
    height: 80%;
    overflow: hidden;
    color: #7A736B;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.final-control{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.back-control{
    width: 112px;
    height: 41px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid #E8A089;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E8A089;
    cursor: pointer;
}

.submit-control{
    width: 112px;
    height: 41px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid #4B6C83;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #4B6C83;
    cursor: pointer;

}

.final-control>div:hover{
    animation: hover-control 0.1s forwards;
}

@keyframes hover-control {
    100%{
        transform: scale(0.95);
    }
    
}