/* Web */
@media screen and (min-width:990px) {
    .nav-container{
        width: 100%;
        height: 80px;
        position: fixed;
        top: 0;
        background-color: #FFF4E9;
        display: flex;
        align-items: center;
        justify-content: space-between;
        overflow: hidden;
        z-index: 999;
    }
    @keyframes nav-down {
        0%{
            height: 80px;
        }
        100%{
            height: 0px;
        
        }
    }
    @keyframes nav-up {
        0%{
            height: 0px;
        }
        100%{
            height: 80px;
        }
        
    }
    .nav-up-event{
        animation: nav-up forwards 0.2s;
    }
    .nav-down-event{
        animation: nav-down forwards 0.2s;
    }

    .right-bar{
        /* margin-left: ; */
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .tag{
        padding-top: 5px;
        padding-left: 15px;
        padding-right: 15px;
        color: #011D36;
        font-size: 25px;
        font-style: normal;
        font-weight: 100;
        line-height: normal;
        margin-left: 10px;
        cursor: pointer;
        flex-shrink: 0;
    }
    .tag-click{
        height: 45px;
        border-radius: 30px;
        background-color: #294C64;
        color: #FFF;
        flex-shrink: 0;
    }
    .search-container{
        position: relative;
        margin-left: 50px;
        margin-right: 30px;
        width: 309px;
        flex-shrink: 0;
        height: 50px;
        border-radius: 30px;
        background: rgba(169, 165, 165, 0.20);
        padding-left: 25px;
        color: #5A5A5A;
        font-style: normal;
        line-height: normal;
        display: flex;
        align-items: center;
    }


    .search-bar{
        outline: none;
        font-weight: 400;
        font-size: 20px;
        border: 0;
        background-color: transparent;
        width: 220px;
    }

    .search-icon{
        background: url(./Vector.svg);
        width: 24px;
        height: 24px;
        cursor: pointer;
        margin-left: 10px;
    }
    .search-icon:hover{
        transform: scale(1.3);
    }

    .nav-logo{
        width:300px; 
        height: 50px; 
        margin-left: 30px;
        background: url(../../assets/css/Logo/MSG_logo_blue_sma.png);
        background-size: contain;
        background-repeat: no-repeat;
    }

}