@media  screen and (max-width:800px) {
    .edit-profile-back{
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.3);
        height: 100%;
        width: 100%;
        z-index: 20001;
    }
    
    .edit-profile-box{
        z-index: 20002;
        width: 80%;
        height: 80%;
        background: #ffffff;
        border-radius: 10px;
        padding: 15px;
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    }

    .edit-profile-box-dark{
        z-index: 20002;
        width: 80%;
        height: 80%;
        background: #292829;
        border-radius: 10px;
        padding: 15px;
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    }
    
    .edit-profile-nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .edit-profile-nav-dark{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .edit-profile-nav-dark>p{
        color: #838383;
    }
    .close-edit-box{
        cursor: pointer;
    }
    
    .edit-profile-content-box{
        display: flex;
        flex-direction: column;
        padding: 0 20px;
    }
    
    .edit-profile-img{
        height: 150px;
        width: 150px;
        border-radius: 5px;
        background-size: contain;
        background-repeat: no-repeat;
        margin: 5px 20px;
        cursor: pointer;
    }
    .edit-profile-content{
        width: 100%;
    }
    .edit-profile-content>div{
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .edit-profile-content>div>p{
        width: 120px;
    }


    .edit-profile-content-dark{
        width: 100%;
    }
    .edit-profile-content-dark>div{
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .edit-profile-content-dark>div>p{
        /* width: 120px; */
        color: #C79C9C;
    }
    .edit-profile-content-dark>div>div{
        /* width: 120px; */
        color: #838080;
    }


    .withdraw-btn, .edit-btn{
        height: 30px;
        width: 90px;
        border-radius: 5px;
        cursor: pointer;
        background: none;
        cursor: pointer;
    }
    
    .withdraw-btn{
        color: #A9A5A5;
        border: #A9A5A5 solid 1px;
        margin-right: 30px;
        cursor: pointer;
    }
    
    .edit-btn{
        color: #D45B62;
        border: #D45B62 solid 1px;
        height: 30px;
        width: 90px;
        border-radius: 5px;
        cursor: pointer;
        background: none;
        cursor: pointer;
    }

    .input-box{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .input-style{
        border: none;
        width: 200px;
    }

    .input-style-dark{
        border: none;
        width: 200px;
        outline: none;
        background: none;
        color: #838080;
    }
    
    .btn-box{
        display: inline-flex;
        flex-direction: row;
        justify-content: flex-end;
        /* width: 100%; */
    }
    
    .password-btn{
        height: 30px;
        width: 120px;
        border-radius: 5px;
        cursor: pointer;
        background: none;
        color: #4B6C83;
        border: #4B6C83 solid 1px;
    }
    
    .edit-profile-img-btn{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
        width: 50px;
        border-radius: 5px;
        cursor: pointer;
        background: none;
        cursor: pointer;
        color: #D45B62;
        border: #D45B62 solid 1px;
        margin: 5px;
        font-size: 0.8em;
    }
    
    .choice-profile-img-btn[type="File"]{

        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5px;
        position: absolute;
        width: 0;
        height: 0;
        padding: 0;
        overflow: hidden;
        border: 0;
    }
}
@media  screen and (min-width:801px) {


.edit-profile-back{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
    height: 100%;
    width: 100%;
    z-index: 20001;
}

.edit-profile-box{
    z-index: 20002;
    width: 800px;
    height: 300px;
    background: #ffffff;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

.edit-profile-box-dark{
    z-index: 20002;
    width: 800px;
    height: 300px;
    background: #292829;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

.edit-profile-nav{
    display: flex;
    justify-content: space-between;
}

.edit-profile-nav-dark{
    display: flex;
    justify-content: space-between;
}

.edit-profile-nav-dark>p{
    color: #838383;
}

.close-edit-box{
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.edit-profile-content-box{
    display: flex;
    flex-direction: row;
    padding: 0 20px;
}

.edit-profile-img{
    height: 130px;
    width: 130px;
    border-radius: 5px;
    /* background: url('../Img/default_user_img.png'); */
    background-size: contain;
    background-repeat: no-repeat;
    margin: 5px 20px;
    cursor: pointer;
}
.edit-profile-content{
    width: 550px;
    margin-left: 30px;
}
.edit-profile-content>div{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 10px;
}

.title-style{
    width: 120px;
    color: #C79C9C;
}

.edit-profile-content-dark{
    width: 550px;
    margin-left: 30px;
}
.edit-profile-content-dark>div{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 10px;
}

.content-style-dark{
    width: 120px;
    color: #838080;
}


.btn-box{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
}

.withdraw-btn{
    height: 30px;
    width: 90px;
    border-radius: 5px;
    cursor: pointer;
    background: none;
    cursor: pointer;
    color: #A9A5A5;
    border: #A9A5A5 solid 1px;
    margin-right: 30px;
}

.edit-btn{
    color: #D45B62;
    border: #D45B62 solid 1px;
    height: 30px;
    width: 90px;
    border-radius: 5px;
    cursor: pointer;
    background: none;
    cursor: pointer;
}

.input-box{
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.input-style{
    border: none;
    width: 200px;
    outline: none;
    
}

.input-style-dark{
    border: none;
    width: 200px;
    outline: none;
    background: none;
    color: #838080;
}



.password-btn{
    height: 30px;
    width: 120px;
    border-radius: 5px;
    cursor: pointer;
    background: none;
    color: #4B6C83;
    border: #4B6C83 solid 1px;
}

.edit-profile-img-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 50px;
    border-radius: 5px;
    cursor: pointer;
    background: none;
    cursor: pointer;
    color: #D45B62;
    border: #D45B62 solid 1px;
    margin: 5px;
    font-size: 0.8em;
}

.choice-profile-img-btn[type="File"]{
    /* height: 30px;
    width: 50px;
    border-radius: 5px;
    cursor: pointer;
    background: none;
    cursor: pointer;
    color: #B13139;
    border: #B13139 solid 1px; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}
}