.myfeed-box{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 70%;
    border-radius: 20px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    padding: 30px;
    margin-bottom: 20px;
}

.myfeed-title{
    display: flex;
    align-items: center;
    height: 30px;
    width: 100%;
    margin-top: 5px;
    margin-left: 10px;
    justify-content: flex-start;

}

.myfeed-title>img, .mygame-title>img{
    height: 25px;
    width: 25px;
    margin-right: 5px;
}

.myfeed-content{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 720px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
   
}
.content{
    padding: 3px;
    width: 179px;
    height: 180px;      
    border-radius: 12px;
    margin-bottom: 15px;
}
.content>.img{
    width: 100%;
    height: 100%;
    background: url(../Img/ex.png);
    background-size: cover;
    border-radius: 12px;
}