/* mibile */
@media  screen and (max-width:860px) {

    
    .mypage-box{
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 0;
        height: 600px;
        width: 90%;
        margin-left: 5%;
        /* margin-top: 50px; */
    }
    
    .profile-box-light{
        display: flex;
        justify-content: center;
        height: 400px;
        padding: 5%;
        margin: 10px;
        background-color: white;
        width: 90%;
        border-radius: 20px;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
        margin-left: 5%;
        margin-top: 120px;
    }
    .profile-box-dark{
        display: flex;
        justify-content: center;
        height: 400px;
        padding: 5%;
        margin: 10px;
        background-color: #292829;
        width: 90%;
        border-radius: 20px;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
        margin-left: 5%;
        margin-top: 120px;

    }
    
    .edit-profile {
        position: absolute;
        background: url('../Img/icon_setting.png');
        background-repeat: no-repeat;
        background-size: contain;
        height: 30px;
        width: 30px;
        right: 15px;
        top: 15px;
        cursor: pointer;
    }
    
    .profile-content{
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        grid-template-rows: 1fr 3fr ;
        width: 100%;
        margin: 0;
    }
    
    .profile-img{
        height: 150px;
        width: 150px;
        border-radius: 10px;
        background-size: contain;
    }
    
    .profile-section{
        display: flex;
        flex-direction: column;
        height: auto;
        width: 80%;
        justify-content: space-around;
        color: #838383;
        font-size: 0.8em;
    }
    .profile-section>div{
        margin-bottom: 5px;
        margin-top: 5px;
    }
    .profile-section>div>span{
        margin-left: 15px;
        color: #5A5A5A;
    }

    .profile-section-dark{
        display: flex;
        flex-direction: column;
        height: auto;
        width: 80%;
        justify-content: space-around;
        color: #838383;
        font-size: 0.8em;
    }
    .profile-section-dark>div{
        margin-bottom: 5px;
        margin-top: 5px;
    }
    .profile-section-dark>div>span{
        margin-left: 15px;
        color: #FFF8ED;
    }

    .profile-top-section{
        margin-bottom: 20px;
    }
    .profile-bot-section{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }
    .profile-bot-section>div>span{
        margin-left: 15px;
        color: #6C6767;
    }
    .profile-bot-section-dark{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }
    .profile-bot-section-dark>div>span{
        margin-left: 15px;
        color: #FFF8ED;
    }
    
    .feed-game-box{
        display: flex;
        flex-direction: row;
        margin-top: 10px;
        justify-content: space-between;
        width: 90%;
        margin-left: 5%;

    }

    .myfeed-box, .mygame-box{
        margin-top: 10px;
        width: 100%;
    }



    .toggle_switch { 
        display: inline-block; 
        position: relative; 
        width: 70px; 
        height: 34px; 
    } 
    .toggle_switch input[type="checkbox"] { 
        overflow: hidden; 
        position: absolute; 
        width: 1px; 
        height: 1px; 
        margin: -1px; 
        font-size: initial; 
        clip: rect(0 0 0 0); 
    } 
    .toggle_switch .slider { 
        position: absolute; 
        top: 0; right: 0; 
        bottom: 0; left: 0; 
        background: url('../Img/feed_toggle.png');
        background-size: contain;
        border-radius: 34px; 
        cursor: pointer; 
        transition: 0.4s; 
    } 
    .toggle_switch input[type="checkbox"]:checked + .slider { 
        /* background-color: #4B6C83;  */
        background: url('../Img/game_toggle.png');
        background-size: contain;
    } 
    .toggle_switch .slider::before { 
        content: ""; 
        position: absolute; 
        top: 4px; 
        left: 4px; 
        width: 26px; 
        height: 26px; 
        background-color: #fff; 
        border-radius: 50%; 
        transition: 0.4s; 
    } 
    .toggle_switch input[type="checkbox"]:checked + .slider::before { 
        transform:translateX(36px); 
    } 


}




@media screen and (min-width:861px) {
    .mypage-banner-box{
        display: flex;
        justify-content: center;
        position: relative;
        width: 100%;
        height: 0;
        overflow: hidden;
        padding-bottom: 30%;
        margin-top: 80px;
    }
    .mypage-banner-light{
        position: absolute;
        background: url('../Img/background_mypage_light.png');
        background-size: cover;
        background-position: center;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
    }

    .mypage-banner-dark{
        position: absolute;
        background: url('../Img/background_mypage_dark.png');
        background-size: cover;
        background-position: center;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
    }
    
    .mypage-box{
        display: flex;
        justify-content: center;
        flex-direction: column;
        position: absolute;
        margin: 0;
        height: 100%;
        width: 95%;
        padding: 0px;
        margin-left: 5%;
        top: 10%;
    }
    
    .profile-box-light{
        display: flex;
        justify-content: center;
        height: 400px;
        background-color: white;
        width: 90%;
        border-radius: 20px;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
        margin: 2.5%;
    }

    .profile-box-dark{
        display: flex;
        justify-content: center;
        height: 400px;
        background-color: #292829;
        width: 90%;
        border-radius: 20px;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
        margin: 2.5%;
    }
    
    .edit-profile {
        position: absolute;
        background: url('../Img/icon_setting.png');
        background-repeat: no-repeat;
        background-size: contain;
        height: 30px;
        width: 30px;
        right: 15px;
        top: 15px;
        cursor: pointer;
    }
    
    .profile-content{
        display: flex;
        position: relative;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        grid-template-rows: 1fr 3fr ;
        width: 100%;
        padding: 70PX 150px;
    }
    
    .profile-img{
        height: 150px;
        width: 150px;
        border-radius: 10px;
        background-size: contain;
    }
    
    .profile-section{
        display: flex;
        flex-direction: column;
        margin-left: 55px;
        height: 150px;
        width: 600px;
        justify-content: space-around;
        color: #838383;
    }

    .profile-section>div>span{
        margin-left: 15px;
        color: #5A5A5A;
    }

    .profile-section-dark{
        display: flex;
        flex-direction: column;
        margin-left: 55px;
        height: 150px;
        width: 600px;
        justify-content: space-around;
        color: #838383;
    }

    .profile-section-dark>div>span{
        margin-left: 15px;
        color: #FFF8ED;
    }

    .profile-top-section{
        margin-bottom: 20px;
    }
    .profile-bot-section{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .profile-bot-section>div>span{
        margin-left: 15px;
        color: #6C6767;
    }
    .profile-bot-section-dark{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .profile-bot-section-dark>div>span{
        margin-left: 15px;
        color: #FFF8ED;
    }
    
    .feed-game-box{
        display: flex;
        flex-direction: row;
        margin-top: 50px;
        justify-content: space-between;
        width: 90%;
        margin-left: 2.5%;
    }
    

    
}
