@media  screen and (max-width:860px) {

.feed-container{
    display: flex;
    position: relative;
    height: 620px;
    width: 100%;
    background-color: #FFFDF3;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;

}

.feed-container-dark{
    display: flex;
    position: relative;
    height: 620px;
    width: 100%;
    background-color: #292829;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;

}

.is-chat{
    position: absolute;
    border-radius: 50%;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.2);
    background: #FFF8ED; 
    bottom: 0;
    right: 0;
    z-index: 99;
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 5px;
}
.is-chat-dark{
    position: absolute;
    border-radius: 50%;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.2);
    background: #292829;
    bottom: 0;
    right: 0;
    z-index: 99;
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 5px;
}

}

@media  screen and (min-width:861px) {

    .feed-container{
        display: flex;
        position: relative;
        height: 620px;
        width: 50%;
        margin-right: 30px;
        background-color: #FFFDF3;
        border-radius: 5px;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
        overflow: hidden;
    
    }
    
    .feed-container-dark{
        display: flex;
        position: relative;
        height: 620px;
        width: 50%;
        margin-right: 30px;
        background-color: #292829;
        border-radius: 5px;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
        overflow: hidden;
    
    }
    }