

@media screen and (max-width:500px){

.feed-title-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 60px;
    top: 0;
    border-radius: 5px 5px 0 0;
    background-color: #FFFDF3;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
}
.member-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 85px;
    left: 20px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}   
.member-btn-dark{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 85px;
    left: 20px;
    border: 1px solid #E3AB9A;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    color: #E3AB9A;
}   
.feed-title-box-dark{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 60px;
    top: 0;
    border-radius: 5px 5px 0 0;
    background-color: #292829;
    color: #FFFDF3;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
}

.reset-icon{
    background: url('../Img/icon_reset.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    margin-left: 20px;
    cursor: pointer;
}

.create-icon{
    background: url('../Img/icon_plus.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    margin-right: 15px;
    cursor: pointer;

}
.disable-icon{
    background: url('../Img/create_feed_disable.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    margin-right: 15px;
}
.toggle-job{
    position: absolute;
    width: 20px;
    height: 20px;
    right: 20px;
    top: 20px;
    z-index: 999;
    cursor: pointer;
}
.feed-content{
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 70px;
}
.feed-content-dark{
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 70px;
    background: #292829;
}


.invite-code-title{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.5em;
}
.invite-code-title-dark{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.5em;
    color: #FFFDF3;
}

.invite-code{
    text-align: center;
    font-size: 2em;
    margin-bottom: 50px;

}

.invite-btn{
    text-align: center;
    background-color: #4B6C83;
    color: #FFFDF3;
    height: 60px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 5px;
    border: none;
    border-radius: 10px;
    margin-bottom: 50px;
    cursor: pointer;
}

.mission-box{
    z-index: 99;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 97.5%;
    height: 70px;
    border-radius: 5px;
    margin: 5px;
    background: #E3AB9A;
    font-size: 0.9em;
    padding: 2%;
    top: 0;
}
.feed-content-box{
    position: relative;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-bottom: 50px;
    padding-top: 80px;

}

.feed-content-box::-webkit-scrollbar{
    width: 8px;
}

.feed-content-box::-webkit-scrollbar-thumb{
    height: 30%;
    background: rgba(100, 100, 100, 0.5);
    /* background: #E3AB9A; */
    border-radius: 10px;
}

.feed-content-box::-webkit-scrollbar-track{
    background: transparent; 
}
.follow-back{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    cursor: pointer;
}
.follow-modal{
    background-color: #FFFDF3;
    border-radius: 10px;
    height: 70%;
    width: 90%;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    cursor: auto;

}
.follow-title{
    height: 10%;
    width: 100%;
    background-color: #486880;
    color: white;
    display: flex;
    align-items: center;
    padding-left: 20px;
}
.follow-content{
    height: 100%;
    overflow-y: scroll;
    padding-bottom: 100px;
}
.follow-content::-webkit-scrollbar{
    width: 5px;
}

.follow-content::-webkit-scrollbar-thumb{
    height: 30%;
    background: #486880;
    border-radius: 10px;
}

.follow-content::-webkit-scrollbar-track{
    background: transparent
}
.follow-body{
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    height: 70px;
    width: 100%;
    display: flex;
    background-color: #FFFDF3;
    margin-bottom: 5px;
    align-items: center;
    padding-left: 10px;
    position: relative;
}
.follow-img{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    margin-right: 20px;

}
.follow-name{
    font-size: 13px;
    font-weight: bold;
}
.follow-btn{
    width: 70px;
    height: 30px;
    position: absolute;
    right: 100px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.report-btn{
    width: 70px;
    height: 30px;
    position: absolute;
    right: 10px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

}

@media screen and (min-width:501px){
    .follow-back{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.75);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 9999;
        cursor: pointer;
    }
    .follow-modal{
        background-color: #FFFDF3;
        border-radius: 10px;
        height: 70%;
        width: 70%;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        overflow: hidden;
        cursor: auto;
    
    }
    .follow-title{
        height: 10%;
        width: 100%;
        background-color: #486880;
        color: white;
        display: flex;
        align-items: center;
        padding-left: 20px;
    }
    .follow-content{
        height: 100%;
        overflow-y: scroll;
        padding-bottom: 100px;
    }
    .follow-content::-webkit-scrollbar{
        width: 5px;
    }
    
    .follow-content::-webkit-scrollbar-thumb{
        height: 30%;
        background: #486880;
        border-radius: 10px;
    }
    
    .follow-content::-webkit-scrollbar-track{
        background: transparent
    }
    .follow-body{
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        height: 70px;
        width: 100%;
        display: flex;
        background-color: #FFFDF3;
        margin-bottom: 5px;
        align-items: center;
        padding-left: 10px;
        position: relative;
    }
    .follow-img{
        width: 50px;
        height: 50px;
        border-radius: 10px;
        margin-right: 20px;
    
    }
    .follow-name{
        font-size: 13px;
        font-weight: bold;
    }
    .follow-btn{
        width: 70px;
        height: 30px;
        position: absolute;
        right: 100px;
        border: 1px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    .feed-title-box{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        width: 100%;
        height: 60px;
        top: 0;
        border-radius: 5px 5px 0 0;
        background-color: #FFFDF3;
        box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
    }
    .member-btn{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 85px;
        left: 20px;
        border: 1px solid black;
        border-radius: 5px;
        padding: 10px;
        cursor: pointer;
    }   
    .member-btn-dark{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 85px;
        left: 20px;
        border: 1px solid #E3AB9A;
        border-radius: 5px;
        padding: 10px;
        cursor: pointer;
        color: #E3AB9A;
    }
    .feed-title-box-dark{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        width: 100%;
        height: 60px;
        top: 0;
        border-radius: 5px 5px 0 0;
        background-color: #292829;
        color: #FFFDF3;
        box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
    }
    
    .reset-icon{
        background: url('../Img/icon_reset.png');
        background-size: contain;
        background-repeat: no-repeat;
        width: 30px;
        height: 30px;
        margin-left: 20px;
        cursor: pointer;
    }
    
    .create-icon{
        background: url('../Img/icon_plus.png');
        background-size: contain;
        background-repeat: no-repeat;
        width: 40px;
        height: 40px;
        margin-right: 15px;
        cursor: pointer;
    
    }
    .disable-icon{
        background: url('../Img/create_feed_disable.png');
        background-size: contain;
        background-repeat: no-repeat;
        width: 40px;
        height: 40px;
        margin-right: 15px;
    }
    .toggle-job{
        position: absolute;
        width: 20px;
        height: 20px;
        right: 20px;
        top: 20px;
        z-index: 999;
        cursor: pointer;
    }
    .feed-content{
        position: relative;
        width: 100%;
        height: 100%;
        margin-top: 70px;
    }
    .feed-content-dark{
        position: relative;
        width: 100%;
        height: 100%;
        margin-top: 70px;
        background: #292829;
    }
    
    
    .invite-code-title{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 1.5em;
    }
    .invite-code-title-dark{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 1.5em;
        color: #FFFDF3;
    }
    
    .invite-code{
        text-align: center;
        font-size: 2em;
        margin-bottom: 50px;
    
    }
    
    .invite-btn{
        text-align: center;
        background-color: #4B6C83;
        color: #FFFDF3;
        height: 60px;
        padding-left: 30px;
        padding-right: 30px;
        margin: 5px;
        border: none;
        border-radius: 10px;
        margin-bottom: 50px;
        cursor: pointer;
    }
    
    .mission-box{
        z-index: 99;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 97.5%;
        height: 70px;
        border-radius: 5px;
        margin: 5px;
        background: #E3AB9A;
        font-size: 0.9em;
        padding: 2%;
        top: 0;
    }
    .feed-content-box{
        position: relative;
        width: 100%;
        height: 100%;
        overflow-y: scroll;           
        overflow-x: hidden;
        padding-bottom: 50px;
        padding-top: 80px;
    }
    
    .feed-content-box::-webkit-scrollbar{
        width: 8px;
    }
    
    .feed-content-box::-webkit-scrollbar-thumb{
        height: 30%;
        background: rgba(100, 100, 100, 0.5);
        /* background: #E3AB9A; */
        border-radius: 10px;
    }
    
    .feed-content-box::-webkit-scrollbar-track{
        background: transparent; 
    }
    .report-btn{
        width: 70px;
        height: 30px;
        position: absolute;
        right: 10px;
        border: 1px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    
    }