.chat-content{
    width: 100%;
    height: 550px;    
    margin-top: 60px;
    padding: 5%;
}

.chat-content-dark{
    width: 100%;
    height: 550px;    
    margin-top: 60px;
    padding: 5%;
    background: #292829;
}

.vote-title{
    color: #787171;
}


.member-list{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2.5% ;
    cursor: pointer;
    /* border: 1px gray solid; */
    width: 100px;
    height: 155px;
    border-radius: 5px;

}

.member{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100%;
    /* border: 1px red solid; */

}

.member>img{
    width:100px;
    height: 100px;
}

.member>input{
    outline: none;
}



.member-name{
    margin-top: 2px;
    text-align: center;
    font-size: 0.6em;
}

.member-name-dark{
    margin-top: 2px;
    text-align: center;
    font-size: 0.6em;
    color: #E3AB9A;
}

.vote-hint{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 0.8em;
    color: #787171;
}



.vote-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #E3AB9A;
    border-radius: 5px;
    color: #fff;
    height: 50px;
    margin-top: 10%;
    width: 100%;
    border: none;
    cursor: pointer;
}

.vote-btn:disabled{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #C6C4C3;
    border-radius: 5px;
    color: #fff;
    height: 50px;
    margin-top: 10%;
    width: 100%;
    border: none;
    cursor: none;

}

.vote-graph{
    width: 100%;
    height: 12px;
    border: 1px gray solid;
    border-radius: 3px;
}

.vote-count{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 25%;
    right: 5px;
    width: 20px;
    height: 20px;
    background-color: #E3AB9A;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.graph{
    height: 100%;
    border : none;
    background: #486880;
}