.feed-title-box{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 60px;
    top: 0;
    border-radius: 5px 5px 0 0;
    background-color: #FFFDF3;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
}
.feed-title-box-dark{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 60px;
    top: 0;
    border-radius: 5px 5px 0 0;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
    background-color: #292829;
    color: #FFFDF3;
}
.search-back{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.55);
    z-index: 99999;
    cursor: pointer;
}
.reset-icon{
    background: url('../Img/icon_reset.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    margin-left: 20px;
    cursor: pointer;
}

.create-icon{
    background: url('../Img/icon_plus.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    margin-right: 15px;
    cursor: pointer;

}

.feed-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
    margin-top: 100px;
}
.feed-content-dark{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
    margin-top: 100px;
    background: #292829;
}

.invite-code-title{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.2em;
}
.invite-code-title-dark{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.2em;
    color: #FFFDF3;
}

.invite-code{
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 50px;
}

.invite-code-dark{
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 50px;
    color: #FFFDF3;

}

.invite-btn{
    text-align: center;
    background-color: #4B6C83;
    color: #FFFDF3;
    height: 60px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 5px;
    border: none;
    border-radius: 10px;
    margin-bottom: 50px;
    cursor: pointer;
}