

.chat-input-box{
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    padding: 10px;
}
.chat-input{
    width: 97%;
    border-radius: 5px;
    border: #B1AFAF solid 3px;
    word-wrap: break-all;
    padding: 5px 5px 20px 5px;
    font: 1em;
    resize: none;
}
.chat-input:hover,
.chat-input:focus
{
    border: #8499AA solid 3px;
    outline: #8499AA;
}

.photo-icon{
    position: absolute;
    bottom: 20px;
    left: 25px;
    height: 20px;
    width: 20px;
    background: url('../Img/icon_photo.png');
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

.submit-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 20px; 
    right: 20px;
    height: 28px;
    width: 80px;
    background-color: #B1AFAF;
    cursor: pointer;
    color: #FFFFFF;
    font-size: 1em;
    border-radius: 5px;
}

.submit-icon:hover{
    background-color: #8499AA;
}

.input-num{
    position: absolute;
    bottom: 20px;
    right: 110px;
    font-size: 1em;
    color: #B1AFAF;
    height: 25px;
}

.chat-content{
    width: 100%;
    height: 460px;
    border: 1px solid red;
    margin-top: 60px;
}