@media screen and (max-width:660px){
    .card-body{
        position: relative;
        background: #000000;
        background-size: cover;
        background-position: bottom;
        background-repeat: no-repeat;
        height: 220px;
        width: 280px;
        border-radius: 10px;
        margin-bottom: 20px;
        margin: 1%;
        cursor: pointer;

    }
    .card-content{
        width: 100%;
        height: 220px;
        border-radius: 10px;        
    }
    
    .card-title-box{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        bottom: 0;
        background-color: #A1444A;
        height: 25%;
        width: 100%;
        border-radius: 5px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    
    }
    .friend-group{
        background-color: #A1444A;
    }

    .random-group{
        background-color: #464C61;
    }
    .card-title{
        color: #fff;
        font-size: 0.8em;
    }
        
  
    .card-job-icon{
        position: absolute;
        height: 22.5%;
        width: 17.5%;
        bottom: 12.5%;
        left: 10%;
        z-index: 30;
        border-radius: 50px;
        background: url('../Img/icon_job.PNG');
        background-size: contain;
    }
}



@media screen and (min-width:660px){
    .card-body{
        position: relative;
        background: #000000;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 0;
        width: 250px;
        padding-bottom: 20%;
        border-radius: 10px;
        margin-bottom: 30px;
        margin: 5%;
        cursor: pointer;

    }
    .card-content{
        width: 250px;
        height: 150px;
        border-radius: 10px;        
    }
    
    .card-title-box{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        bottom: -30px;
        background-color: #A1444A;
        height: 25%;
        width: 100%;
        border-radius: 5px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    
    }
    .card-title{
        color: #fff;
        font-size: 0.8em;
    }
    .friend-group{
        background-color: #A1444A;
    }

    .random-group{
        background-color: #464C61;
    }       
    
    
    .card-job-icon{
        position: absolute;
        height: 25%;
        width: 15%;
        bottom: 15%;
        left: 20px;
        z-index: 30;
        border-radius: 50px;
        background: url('../Img/icon_job.PNG');
        background-repeat: no-repeat;
        background-size: contain;
    }
}


@media screen and (min-width:980px){
    .card-body{
        position: relative;
        background: #000000;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 220px;
        width: 280px;
        border-radius: 10px;
        margin-bottom: 20px;
        margin: 5px;
        cursor: pointer;
    }
    
    .card-content{
        width: 100%;
        height: 220px;
        border-radius: 10px;        
    }
    
    .card-title-box{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        bottom: 0;
        background-color: #A1444A;
        height: 50px;
        width: 280px;
        border-radius: 5px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    }

    .friend-group{
        background-color: #A1444A;
    }

    .random-group{
        background-color: #464C61;
    }
    
    .card-title{
        color: #fff;
        font-size: 0.8em;
    }
    
    
    .card-job-icon{
        position: absolute;
        height: 50px;
        width: 50px;
        bottom: 30px;
        left: 20px;
        z-index: 30;
        border-radius: 50px;
        background: url('../Img/icon_job.PNG');
        background-size: contain;
    }
}

