.feed-card{
    
    width: 416px;
    border-radius: 10px;
    background-color: #FFFDF3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 44px;
    position: relative;
}
.feed-item{
    margin-top: 33.5px;
    margin-left: 28px;
    margin-right: 26.5px;
    display: flex;
    flex-direction: row;

}
.user-img{
    width: 60px;
    height: 60px;
    border-radius: 10px;
    margin-right: 15.5px;
}

.user-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.user-name{
    font-size: 18px;
    color: #474646;
}
.user-comment{
    font-size: 15px;
    color: #A9A5A5;

}
.list-svg{
    position: absolute;
    top: 30px;
    right: 31px;
    background: url(./list.svg);
    width: 30px;
    height: 20px;
    background-repeat:no-repeat;
    margin-left: 110px;
    cursor: pointer;
}

.feed-comment{
    margin-top: 13px;
    margin-left: 28px;
    margin-bottom: 19px;
    width: 352px;
    color: #838080;
    font-size: 15px
}

.feed-img{
    width: 416px;
    height: 416px;
    border-right: none;
    border-left: none;
}

.feed-btn{
    margin-top: 9px;
    margin-left: 28px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 17px;
}
.heart-icon{
    background: url(./heart.png);
    background-position: 50% 50%;
    width: 28px;
    height: 28px;
    background-size: cover;
    margin-right: 10px;
    cursor: pointer;
}
.chat-icon{
    background: url(./chat.png);
    background-size: cover;
    background-position: 50% 50%;
    cursor: pointer;
    margin-right: 10px;
    width: 24px;
    height: 23px;
}
.share-icon{
    background-position: 50% 50%;
    cursor: pointer;
    background: url(./share.png);
    background-size: cover;
    width: 22px;
    height: 23px;
}
.feed-chat{

}
.latest-chat{
    font-size: 10px;
    
}
.chat-info{
    margin-left: 28px;
    margin-bottom: 17px;
    font-size: 10px;
    display: flex;
    flex-direction: row;
}
.see-all{
    margin-left: 8px;
}

.chat-user-name{
    margin-right: 23px;
}