
/*----------------- pc ---------------------- */
@media screen and (min-width:800px) {
    
    .container{
        font-family: 'Viga', sans-serif;
        position: relative;
        display: flex;
        flex-direction: row;
        width: 100vw;
        height: 100vh;    
    }

    .main-img{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        background: url('@/assets/css/background_image/background_sample4.png');
        background-repeat: no-repeat;
        background-position: 50% 0%;
        background-size: cover;
        background-position: bottom;
        overflow: hidden;
    }
    .find-password-form{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 360px;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.8);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 50px;
    }

    .find-password-title{
        color: #021633;
        top:  10%;
        font-size: 1.5rem;
        margin: 20px 0px;
    }

    .find-password-title2{
        color: #021633;
        top:  10%;
        font-size: 1.1rem;
        font-weight: 600;
        margin: 20px 0px;
    }




    .find-password-content-box{
        margin-top: 50px;
        text-align: start;
        width: 100%;
    }
    .find-password-content{
        font-size: 0.9rem;
        color: #021633;
        margin-bottom: 15px;
    }

    .find-password-content > span{
        font-size: 0.9rem;
        color: #021633;
        margin-bottom: 15px;
    }


    .email-form
    {
        position: relative;
        width: 100%;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;
        margin-top: 15px;
    }


    .password-form,
    .validation-form,
    .temp-password-form
    {
        position: relative;
        width: 100%;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;
        margin-top: 15px;
    }



    .email-label, 
    .password-label,
    .validation-label,
    .temp-password-label
    {
        position: absolute;
        width: 100%;
        text-align: start;
        font-size: 0.9rem;
        color: #021633;
        left: 0%;
        pointer-events: none;
    }

    .email-input
    {
        width: 100%;
        height: 100%;
        transition: 0.5s;
        background-color: transparent;
        border: hidden;
        border-bottom: #153448 3px solid;
        outline: none;
        text-indent: 5%;
        margin-top: 10px;
        padding: 0px;
    }

    .password-input,
    .validation-input,
    .temp-password-input
    {
        width: 100%;
        height: 30px;
        transition: 0.5s;
        background-color: transparent;
        border: hidden;
        border-bottom: #153448 3px solid;
        outline: none;
        text-indent: 5%;
        margin-top: 10px;
        padding: 0px;
    }
    .email-input:focus ~.email-label,
    .email-input:valid ~.email-label,
    .password-input:focus ~.password-label,
    .password-input:valid ~.password-label,
    .validation-input:focus ~.validation-label,
    .validation-input:valid ~.validation-label,
    .temp-password-input:focus ~.temp-password-label,
    .temp-password-input:valid ~.temp-password-label
    {
        animation: textUp 0.5s forwards
    }



    @keyframes textUp{
        100%{
            transform: translateY(-35px);

        }
        
    }


    .email-warn,
    .password-warn,
    .validation-warn
    {
        margin-top: 10px;
        font-size: 0.8em;
        text-align: start;
        color: #BB4B36;
        
    }

    .next-btn{
        width: 100%; 
        height: 50px; 
        border-radius: 5px;
        background: #021633;
        color: white;
        font-size: 0.8em;
        border: none;
        margin: 70px 0px 50px 0px;
        padding: 10px 0px;
        cursor: pointer;
        transition: 0.3s;
    }
    .reset-password-btn {
        width: 100%; 
        height: 50px; 
        border-radius: 5px;
        background: #021633;
        color: white;
        font-size: 0.8em;
        border: none;
        margin: 50px 0px 30px 0px;
        padding: 10px 0px;
        cursor: pointer;
        transition: 0.3s;
    }

}
