
/* mibile */
@media  screen and (max-width:400px) {
    .container{
        font-family: 'Viga', sans-serif;
        /* background-image: linear-gradient(#fe7717, #FAA160); */
        position: relative;
        display: flex;
        flex-direction: row;
        width: 100vw;
        height: 100vh;    
    }

    /* 좌측 이미지 애니메이션 */
    .main-img{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        background: url('@/assets/css/background_image/background_sample6.png');
        background-repeat: no-repeat;
        background-position: 50% 0%;
        background-size: cover;
        background-position: bottom;
        overflow: hidden;
        animation: moveimg 20s infinite linear;
    }



    .login-box{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.8);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 50px 30px;
    }
    .login-logo{
        display: flex;
        justify-content: center;
        top: 20%;
        width: 200px;
        height: 300px;
        background: url('@/assets/css/Logo/MSG_logo_red_lar.png');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
    .email-form{
        position: relative;
        width: 100%;
        height: 9%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 15%;
    }

    .email-label{
        position: absolute;
        width: 20%;
        text-align: start;
        left: 7%;
        font-size: 0.6rem;
        color: #021633;
    }

    .email-input{
        width: 85%;
        height: 80%;
        transition: 0.5s;
        background-color: transparent;
        border: hidden;
        border-bottom: #A79A85 3px solid;
        outline: none;
        text-indent: 7%;
    }

    .email-input:focus ~.email-label,
    .email-input:valid ~.email-label{
        animation: textUp 0.5s forwards
    }

    @keyframes textUp{
        100%{
            transform: translateY(-30px);
        }
        
    }


    .password-form{
        position: relative;
        width: 100%;
        height: 9%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 15%;

    }

    .password-label{
        position: absolute;
        width: 20%;
        text-align: start;
        left: 7%;
        font-size: 0.6rem;
        color: #021633;

    }
    .password-input{
        width: 85%;
        height: 80%;
        transition: 0.5s;
        background-color: transparent;
        border: hidden;
        border-bottom: #A79A85 3px solid;
        outline: none;
        text-indent: 7%;
    }

    .password-input:focus ~.password-label,
    .password-input:valid ~.password-label{
        animation: textUp 0.5s forwards;
        
    }
    .another-font {
        width: 85%;
        display: flex;
        justify-content: end;
        margin-top: 3px;
        cursor: pointer;
        font-size: 0.6em;
        color: #A79A85;

    }
    .login-btn {
        width: 87%; 
        height: 50px; 
        border-radius: 5px;
        background: #021633;
        color: white;
        font-size: 0.8em;
        border: none;
        margin: 30px 0px;
        padding: 10px 0px;
        cursor: pointer;
        transition: 0.3s;
    }
    .login-btn:hover {
        font-size: 1.2em;
    }
    .or-sign-in-with {
        font-size: 0.8rem; 
        color: #A79A85;
    }
}

    /* PC */
@media screen and (min-width:401px) {
    .container{
        font-family: 'Viga', sans-serif;
        /* background-image: linear-gradient(#fe7717, #FAA160); */
        position: relative;
        display: flex;
        flex-direction: row;
        width: 100vw;
        height: 100vh;    
    }

    /* 좌측 이미지 애니메이션 */
    .main-img{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        background: url('@/assets/css/background_image/background_sample6.png');
        background-repeat: no-repeat;
        background-position: 50% 0%;
        background-size: cover;
        background-position: bottom;
        overflow: hidden;
        animation: moveimg 20s infinite linear;
    }



    .login-box{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 350px;
        height: 80%;
        background-color: rgba(255, 255, 255, 0.8);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 50px 30px;
    }
    .login-logo{
        display: flex;
        justify-content: center;
        top: 20%;
        width: 200px;
        height: 300px;
        background: url('@/assets/css/Logo/MSG_logo_red_lar.png');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
    .email-form{
        position: relative;
        width: 100%;
        height: 9%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 15%;
    }

    .email-label{
        position: absolute;
        width: 20%;
        text-align: start;
        left: 7%;
        font-size: 0.6rem;
        color: #021633;
    }

    .email-input{
        width: 85%;
        height: 80%;
        transition: 0.5s;
        background-color: transparent;
        border: hidden;
        border-bottom: #A79A85 3px solid;
        outline: none;
        text-indent: 7%;
    }

    .email-input:focus ~.email-label,
    .email-input:valid ~.email-label{
        animation: textUp 0.5s forwards
    }

    @keyframes textUp{
        100%{
            transform: translateY(-30px);

        }
        
    }


    .password-form{
        position: relative;
        width: 100%;
        height: 9%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 15%;

    }

    .password-label{
        position: absolute;
        width: 20%;
        text-align: start;
        left: 7%;
        font-size: 0.6rem;
        color: #021633;

    }
    .password-input{
        width: 85%;
        height: 80%;
        transition: 0.5s;
        background-color: transparent;
        border: hidden;
        border-bottom: #A79A85 3px solid;
        outline: none;
        text-indent: 7%;
    }

    .password-input:focus ~.password-label,
    .password-input:valid ~.password-label{
        animation: textUp 0.5s forwards;
        
    }
    .another-font {
        width: 85%;
        display: flex;
        justify-content: end;
        margin-top: 3px;
        cursor: pointer;
        font-size: 0.6em;
        color: #A79A85;

    }
    .login-btn {
        width: 87%; 
        height: 50px; 
        border-radius: 5px;
        background: #021633;
        color: white;
        font-size: 0.8em;
        border: none;
        margin: 30px 0px;
        padding: 10px 0px;
        cursor: pointer;
        transition: 0.3s;
    }
    .login-btn:hover {
        font-size: 1.2em;
    }
    .or-sign-in-with {
        font-size: 0.8rem; 
        color: #A79A85;
    }
}
/* pc */
@media screen and (min-width:800px) {
    

    .container{
        font-family: 'Viga', sans-serif;
        /* background-image: linear-gradient(#fe7717, #FAA160); */
        position: relative;
        display: flex;
        flex-direction: row;
        width: 100vw;
        height: 100vh;    
    }

    .main-img{
        position: relative;
        width: 100%;
        height: 100vh;
        background: url('@/assets/css/background_image/background_sample6.png');
        background-repeat: no-repeat;
        background-position: 50% 0%;
        background-size: cover;
        background-position: bottom;
        overflow: hidden;
        animation: moveimg 20s infinite linear;
    }



    .login-box{
        position: absolute;
        right: 100px;
        top: 10%;
        width: 350px;
        height: 80%;
        background-color: rgba(255, 255, 255, 0.8);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 50px 30px;
    }
    .login-logo{
        display: flex;
        justify-content: center;
        top: 20%;
        width: 200px;
        height: 300px;
        background: url('@/assets/css/Logo/MSG_logo_red_lar.png');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
    .email-form{
        position: relative;
        width: 100%;
        height: 9%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 15%;
    }

    .email-label{
        position: absolute;
        width: 20%;
        text-align: start;
        left: 7%;
        font-size: 0.6rem;
        color: #021633;
    }

    .email-input{
        width: 85%;
        height: 80%;
        transition: 0.5s;
        background-color: transparent;
        border: hidden;
        border-bottom: #A79A85 3px solid;
        outline: none;
        text-indent: 7%;
    }

    .email-input:focus ~.email-label,
    .email-input:valid ~.email-label{
        animation: textUp 0.5s forwards
    }

    @keyframes textUp{
        100%{
            transform: translateY(-30px);

        }
        
    }


    .password-form{
        position: relative;
        width: 100%;
        height: 9%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 15%;

    }

    .password-label{
        position: absolute;
        width: 20%;
        text-align: start;
        left: 7%;
        font-size: 0.6rem;
        color: #021633;

    }
    .password-input{
        width: 85%;
        height: 80%;
        transition: 0.5s;
        background-color: transparent;
        border: hidden;
        border-bottom: #A79A85 3px solid;
        outline: none;
        text-indent: 7%;
    }

    .password-input:focus ~.password-label,
    .password-input:valid ~.password-label{
        animation: textUp 0.5s forwards;
        
        
    }
    .another-font {
        width: 85%;
        display: flex;
        justify-content: end;
        margin-top: 3px;
        cursor: pointer;
        font-size: 0.6em;
        color: #A79A85;

    }
    .login-btn {
        width: 87%; 
        height: 50px; 
        border-radius: 5px;
        background: #021633;
        color: white;
        font-size: 0.8em;
        border: none;
        margin: 30px 0px;
        padding: 10px 0px;
        cursor: pointer;
        transition: 0.3s;
    }
    .login-btn:hover {
        font-size: 1.2em;
    }
    .or-sign-in-with {
        font-size: 0.8rem; 
        color: #A79A85;
    }
}