
/* mibile */
@media  screen and (max-width:409px) {

    .container{
        font-family: 'Viga', sans-serif;
        /* background-image: linear-gradient(#fe7717, #FAA160); */
        position: relative;
        display: flex;
        flex-direction: row;
        width: 100vw;
        height: 100vh;    
    }

    .main-img{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        background: url('https://team109testbucket.s3.ap-northeast-2.amazonaws.com/background_sample5.png');
        background-repeat: no-repeat;
        background-position: 50% 0%;
        background-size: cover;
        background-position: bottom;
        overflow: hidden;
        animation: moveimg 20s infinite linear;
    }


    .login-box{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.8);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 50px;
    }
    .login-title{
        color: #021633;
        top:  10%;
        font-size: 2.5rem;
        font-weight:600;
        margin-top: 20px;
    }
    .email-form,
    .name-form,
    .password-form,
    .validation-form{
        position: relative;
        width: 100%;
        height: 9%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 15%;
    }
    .email-img{
        position: absolute;
        width: 5%;
        right: 13%;
    }
    .email-label,
    .name-label,
    .password-label,
    .validation-label{
        position: absolute;
        width: 100%;
        text-align: start;
        font-size: 0.9rem;
        color: #021633;
        pointer-events: none;

    }

    .email-input,
    .name-input,
    .password-input,
    .validation-input{
        width: 100%;
        height: 80%;
        transition: 0.5s;
        background-color: transparent;
        border: hidden;
        border-bottom: #153448 3px solid;
        outline: none;
        text-indent: 7%;
        margin-top: 10px;

    }

    .email-input:focus ~.email-label,
    .email-input:valid ~.email-label{
        animation: textUp 0.5s forwards
    }


    @keyframes textUp{
        100%{
            transform: translateY(-30px);
        }
        
    }
    .name-input:focus ~.name-label,
    .name-input:valid ~.name-label{
        animation: textUp 0.5s forwards
    }

    .email-warn,
    .name-warn,
    .password-warn,
    .validation-warn{
        font-size: 0.8rem;
        color: rgb(182, 48, 48);
    }



    .password-input:focus ~.password-label,
    .password-input:valid ~.password-label{
        animation: textUp 0.5s forwards;
        
    }
    .validation-input:focus ~.validation-label,
    .validation-input:valid ~.validation-label{
        animation: textUp 0.5s forwards;
        
    }

    .login-btn {
        width: 100%; 
        height: 50px; 
        border-radius: 5px;
        background: #021633;
        color: white;
        font-size: 0.8em;
        border: none;
        margin: 30px 0px 15px 0px;
        padding: 10px 0px;
        cursor: pointer;
        transition: 0.3s;
    }
    .login-btn:hover {
        font-size: 1.2em;
    }
    .or-sign-in-with {
        font-size: 0.9rem; 
        color: #153448;
    }

    .login-font {
        text-align: center;
        width: 100%;
        margin-top: 3px;
        font-size: 0.9em;
        color: #153448;
    }

    .login-font > span {
        text-align: center;
        width: 100%;
        margin-top: 3px;
        cursor: pointer;
        font-size: 0.9em;
        color: #D26767;
    }
    
    
}

    /* PC */
@media screen and (min-width:401px) {
    .container{
        font-family: 'Viga', sans-serif;
        /* background-image: linear-gradient(#fe7717, #FAA160); */
        position: relative;
        display: flex;
        flex-direction: row;
        width: 100vw;
        height: 100vh;    
    }

    /* 좌측 이미지 애니메이션 */
    .main-img{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        background: url('https://team109testbucket.s3.ap-northeast-2.amazonaws.com/background_sample5.png');
        background-repeat: no-repeat;
        background-position: 50% 0%;
        background-size: cover;
        background-position: bottom;
        overflow: hidden;
        animation: moveimg 20s infinite linear;
    }


    .login-box{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 350px;
        height: 80%;
        background-color: rgba(255, 255, 255, 0.9);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 50px;
    }
    .login-title{
        color: #021633;
        top:  10%;
        font-size: 2.5rem;
        font-weight:600;
        margin-top: 20px;
    }
    .email-form,
    .name-form,
    .password-form,
    .validation-form{
        position: relative;
        width: 100%;
        height: 9%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 15%;
    }
    .email-img{
        position: absolute;
        width: 5%;
        right: 13%;
    }
    .email-label,
    .name-label,
    .password-label,
    .validation-label{
        position: absolute;
        width: 100%;
        text-align: start;
        font-size: 0.9rem;
        color: #021633;
        pointer-events: none;

    }

    .email-input,
    .name-input,
    .password-input,
    .validation-input{
        width: 100%;
        height: 80%;
        transition: 0.5s;
        background-color: transparent;
        border: hidden;
        border-bottom: #153448 3px solid;
        outline: none;
        text-indent: 7%;
        margin-top: 10px;

    }

    .email-input:focus ~.email-label,
    .email-input:valid ~.email-label{
        animation: textUp 0.5s forwards
    }


    @keyframes textUp{
        100%{
            transform: translateY(-30px);
        }
        
    }
    .name-input:focus ~.name-label,
    .name-input:valid ~.name-label{
        animation: textUp 0.5s forwards
    }

    .email-warn,
    .name-warn,
    .password-warn,
    .validation-warn{
        font-size: 0.8rem;
        color: rgb(182, 48, 48);
    }



    .password-input:focus ~.password-label,
    .password-input:valid ~.password-label{
        animation: textUp 0.5s forwards;
        
    }
    .validation-input:focus ~.validation-label,
    .validation-input:valid ~.validation-label{
        animation: textUp 0.5s forwards;
        
    }

    .login-btn {
        width: 100%; 
        height: 50px; 
        border-radius: 5px;
        background: #021633;
        color: white;
        font-size: 0.8em;
        border: none;
        margin: 30px 0px 15px 0px;
        padding: 10px 0px;
        cursor: pointer;
        transition: 0.3s;
    }
    .login-btn:hover {
        font-size: 1.2em;
    }
    .or-sign-in-with {
        font-size: 0.9rem; 
        color: #153448;
    }

    .login-font {
        text-align: center;
        width: 100%;
        margin-top: 3px;
        font-size: 0.9em;
        color: #153448;
    }

    .login-font > span {
        text-align: center;
        width: 100%;
        margin-top: 3px;
        cursor: pointer;
        font-size: 0.9em;
        color: #D26767;
    }
}
/* pc */
@media screen and (min-width:990px) {
    

    .container{
        font-family: 'Viga', sans-serif;
        /* background-image: linear-gradient(#fe7717, #FAA160); */
        position: relative;
        display: flex;
        flex-direction: row;
        width: 100vw;
        height: 100vh;    
    }

    /* 좌측 이미지 애니메이션 */
    .main-img{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        background: url('https://team109testbucket.s3.ap-northeast-2.amazonaws.com/background_sample5.png');
        background-repeat: no-repeat;
        background-position: 50% 0%;
        background-size: cover;
        background-position: bottom;
        overflow: hidden;
        animation: moveimg 20s infinite linear;
    }


    .login-box{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 350px;
        height: 80%;
        background-color: rgba(255, 255, 255, 0.9);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 50px;
    }
    .login-title{
        color: #021633;
        top:  10%;
        font-size: 2.5rem;
        font-weight:600;
        margin-top: 20px;
    }
    .email-form,
    .name-form,
    .password-form,
    .validation-form{
        position: relative;
        width: 100%;
        height: 9%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 15%;
    }
    .email-img{
        position: absolute;
        width: 5%;
        right: 13%;
    }
    .email-label,
    .name-label,
    .password-label,
    .validation-label{
        position: absolute;
        width: 100%;
        text-align: start;
        font-size: 0.9rem;
        color: #021633;
        pointer-events: none;

    }

    .email-input,
    .name-input,
    .password-input,
    .validation-input{
        width: 100%;
        height: 80%;
        transition: 0.5s;
        background-color: transparent;
        border: hidden;
        border-bottom: #153448 3px solid;
        outline: none;
        text-indent: 7%;
        margin-top: 10px;

    }

    .email-input:focus ~.email-label,
    .email-input:valid ~.email-label{
        animation: textUp 0.5s forwards
    }


    @keyframes textUp{
        100%{
            transform: translateY(-30px);
        }
        
    }
    .name-input:focus ~.name-label,
    .name-input:valid ~.name-label{
        animation: textUp 0.5s forwards
    }

    .email-warn,
    .name-warn,
    .password-warn,
    .validation-warn{
        font-size: 0.8rem;
        color: rgb(182, 48, 48);
    }



    .password-input:focus ~.password-label,
    .password-input:valid ~.password-label{
        animation: textUp 0.5s forwards;
        
    }
    .validation-input:focus ~.validation-label,
    .validation-input:valid ~.validation-label{
        animation: textUp 0.5s forwards;
        
    }

    .login-btn {
        width: 100%; 
        height: 50px; 
        border-radius: 5px;
        background: #021633;
        color: white;
        font-size: 0.8em;
        border: none;
        margin: 30px 0px 15px 0px;
        padding: 10px 0px;
        cursor: pointer;
        transition: 0.3s;
    }
    .login-btn:hover {
        font-size: 1.2em;
    }
    .or-sign-in-with {
        font-size: 0.9rem; 
        color: #153448;
    }

    .login-font {
        text-align: center;
        width: 100%;
        margin-top: 3px;
        font-size: 0.9em;
        color: #153448;
    }

    .login-font > span {
        text-align: center;
        width: 100%;
        margin-top: 3px;
        cursor: pointer;
        font-size: 0.9em;
        color: #D26767;
    }


}